* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
}
.faq-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  width: 90%;
  max-width: 700px;
  margin: 2rem auto;
  background-color: #060d23;
  padding: 3rem;
  color: #ffffff;
  border-radius: 10px;
}
summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.9rem;
  border-radius: 10px;
  gap: 5rem;
}
summary:hover {
  background-color: #383d4f;
}
details[open] faq-content {
  padding: 1rem;
}
details[open] {
  background-color: #383d4f;
}
summary::marker {
  color: #060d23;
}
