* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: #0a122d;
}

.faq-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  width: 90%;
  max-width: 700px;
  margin: 2rem auto;
  background-color: #060d23;
  padding: 3rem;
  color: #ffffff;
  border-radius: 10px;
}

/* Each FAQ item */
details {
  display: grid;
  grid-template-rows: 0fr; /* summary visible, content hidden */
  transition: grid-template-rows cubic-bezier(0.55, 0.055, 0.675, 0.19) ease;
  border-radius: 5px;
  padding: 0.9rem;
  cursor: pointer;
  background-color: #060d23;
}

/* details::details-content {
  block-size: 0;
  transition: all 0.3s ease;
}
details[open] ::details-content {
  block-size: auto;
} */
details:hover {
  background-color: #383d4f;
}

details[open] {
  background-color: #383d4f;
  grid-template-rows: 1fr; /* expand */
}

/* Hide default marker */
summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.2rem 0.9rem;
  list-style: none;
}
summary::marker {
  display: none;
}

/* The expanding content area */
.faq-content {
  overflow: hidden;
  padding: 0 0.9rem;
  transition: opacity 0.3s ease;
  opacity: 0;
}

details[open] .faq-content {
  opacity: 1;
  padding-top: 0.5rem;
}

/* Optional rotating arrow icon */
summary svg {
  width: 1.2rem;
  height: 1.2rem;
  transition: transform 0.3s ease;
}

details[open] summary svg {
  transform: rotate(90deg);
}
